result
gdb_record*
*out*
*.log
core*
tmp/
*.txt
.gdbinit
*stats
__pycache__
.z3-trace
.lia.cache
.CoqMakefile.d
.coqdeps.d
.proofs.aux
CoqMakefile
CoqMakefile.conf
proofs.glob
proofs.vo
proofs.vok
proofs.vos
